nav {
    list-style-type: none;
    padding: 3;
    margin: 15;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    font-size: 21px;
}

.horizontal-body {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:100%;
}

body {
    display:-moz-stack
}

.left-section, .right-section, body {
    text-align:center;
}

.classes { 
    text-align: left;
}

